<div class="dialog-select-container">
  <section><h1>Seleccione una sede</h1> {{this.data.headquarter_id}}</section>

  <div class="container-card">
    <ng-container *ngFor="let headquarter of headquarters">
      <mat-card class="example-card" 
      (click)="selectLocation(headquarter)"
      [ngClass]="{'selected-card': selectedLocation?.id === headquarter.id}">
        <div class="container-headquarter-image">
          <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTj8nuU1BMHEDlZRvUqpJzkPjFDOR4Nx8zKmA&s" alt="Headquarter Photo">
        </div>
        <mat-card-header>
          <mat-card-title>{{ headquarter.name }}</mat-card-title>
          <mat-card-subtitle>{{ headquarter.address }}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </ng-container>
  </div>
  
  <div class="actions">
    <button class="button cancel-button" (click)="onDialogCancel()">
    Cancelar
    </button>

  <button class="button continue-button" (click)="onDialogSelectProduct()" [ngClass]="{'disabled': !selectedLocation}">
    Continuar
  </button>
  </div>
</div>
